<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="Marco Niederberger" />

    <title>{{ .Site.Title }}</title>
    {{ partial "css.html" . }}

    {{ partial "analytics.html" . }}
  </head>

  <body
    class="bg-neutral scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 flex min-h-screen flex-col bg-gradient-to-br from-pink-200 to-cyan-200 text-lg leading-7 text-neutral-900">
    {{ partial "header.html" . }}
    <main id="main-content" class="grow">
      <div class="mx-auto max-w-7xl px-6 sm:px-14 md:px-24 lg:px-32">
        {{- block "main" . -}}{{- end -}}
      </div>
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
