{{ define "main" }}
  {{ $data := index .Site.Data.about.data }}

  <article class="prose prose-lg max-w-full px-4 py-8 md:px-6">
    <h1 class="mb-6 text-center text-3xl font-bold sm:text-5xl">
      {{ $data.title | default .Title| markdownify }}
    </h1>

    {{ with $data.image }}
      <figure class="sm:float-right sm:ml-6 mb-4 w-64">
        <img
          src="http://localhost:1337{{ $data.image.url }}"
          width="250"
          alt="Bild von mir">
        </img>
      </figure>
    {{ end }}

    <div>
      {{ $data.content | default .Description | markdownify }}
    </div>
  </article>
{{ end }}
