{{ define "main" }}
  {{ .Content }}


  <section class="w-full space-y-10">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {{ $section := .Section }}
      {{ range where site.RegularPages "Section" $section }}

        <article>
          <a href="{{ .RelPermalink }}" class="relative block overflow-hidden">
            {{ with .Resources.GetMatch .Params.image }}
              {{ $thumb := .Fit "450x450" }}
              <img
                src="{{ $thumb.RelPermalink }}"
                alt="{{ .Title }}"
                class="h-auto w-full rounded-lg object-cover"
                loading="lazy" />
            {{ end }}

            {{ if .Params.sold }}
              <span
                class="absolut border-primary-400 text-primary-700 dark:border-primary-600 dark:text-primary-400 top-0 right-0 rounded-md border px-1 py-[1px] text-xs font-normal"
                >Verkauft</span
              >
            {{ end }}
          </a>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}
