{{- define "main" }}
  <article class="py-12 md:py-20 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-24">
      <div class="space-y-6">
        {{ $images := .Params.images }}
        {{ range $images }}
          {{ with resources.Get . }}
            {{ $scaled := .Fill "800x1000 Center" }}
            <div class="overflow-hidden rounded-lg shadow-lg">
              <img
                src="{{ $scaled.RelPermalink }}"
                alt=""
                loading="lazy"
                width="{{ $scaled.Width }}"
                height="{{ $scaled.Height }}"
                class="h-auto w-full object-cover" />
            </div>
          {{- end }}
        {{- end }}
      </div>

      <div class="flex flex-col justify-start">
        <header class="mb-6 pb-4">
          <h1
            class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
            {{ .Title | markdownify }}
          </h1>
          <p class="mt-2 text-2xl text-gray-600">
            CHF
            {{ .Params.price }}
            {{- if .Params.isReserved }}
              <span
                class="ml-4 rounded-full bg-pink-200 px-3 py-1 text-sm font-medium text-gray-600 shadow-md">
                ❤️ Reserviert
              </span>
            {{- end }}
            {{- if .Params.isSold }}
              <span
                class="ml-4 rounded-full bg-pink-200 px-3 py-1 text-sm font-medium text-gray-600 shadow-md">
                ❤️ Verkauft
              </span>
            {{- end }}
          </p>
        </header>

        <div class="prose prose-lg mb-8 max-w-none">
          {{ .Content }}
        </div>

        {{- if and (not .Params.isReserved) (not .Params.isSold) }}
          <div class="mt-8 space-y-4">
            {{ partial "contact_form" (dict "context" . "isProduct" true "productName" .Title "productURL" .Permalink) }}
          </div>
        {{- end }}
      </div>
    </div>
  </article>
{{- end }}
